/* general */
::selection{
	background-color: grey;
}
body{
	border-top: 1px solid purple;
	padding-bottom: 20px;
}
.purple {
	color :#6b00a2;
}
.big{
	color: black;
	font-size : 5em;
}
.justify{
	text-align: justify;
}
.glyphicon.bigglyph{
	font-size: 3em;	
}

/*home */
.home .thumbnail{
	text-align: center;
}
.home .jumbotron{
	background-color: #fff;
	border : 1px solid #6b00a2;
	color : #6b00a2;
}
.home .thumbnail {
	background-color: #fff; 
}
.home .thumbnail{
	color: #6b00a2;
	line-height: 3em;
}
.home .thumbnail:hover{
	text-decoration: none;
	border-color: #6b00a2;
}
.home .thumbnail p{
	display: inline;
	font-size: 3em;
	line-height: 3em;
}

/* techno */
.tech.header.page-header{
	border-color: #6b00a2;
}
.tech.header {
	text-align: center;
	color: #6b00a2;
}
.tech .thumbnail img{
	width: 40%;
}
.tech.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content : space-around;
}
.tech .thumbnail{
	width : 20%;
	height: 130px;
	margin: auto;
	flex-grow : 1;
	border-radius : 0;
	margin-top: 5px;
	margin : 5px;
	border-bottom: 1px solid #6b00a2;
}
.tech .thumbnail img{
	width: auto;
	height: 90px;
}
.tech h4{
	text-align: center;
}
@media all and (max-width : 500px){
	.tech .flex{
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	.tech .thumbnail{
		width: 100%;
	}
}

/* projects */
.proj.header{
	text-align: center;
	color: #6b00a2;
	border-color: #6b00a2;
}
.proj .thumbnail{
	text-align: center;
}
.proj.thumbnail:hover{
	text-decoration: none;
	border-color: #6b00a2;
}
.proj.thumbnail.card{
	color: black;
}

/* profile */
.profile.page-header{
	text-align: center;
	color: #6b00a2;
	border-color: #6b00a2;
}
.profile.cont{
	border-radius : 5px;
	border-bottom : 1px solid #6b00a2;
	background-color: white;
}
.profile.desc{
	line-height: 2em;
}
.profile .list-group-item{
	border-color: #6b00a2;
}
.profile .card-link{
	margin-right: 5px;
}

/*main navbar */
#mainNavbar{
	border-radius : 0;
}

/* main footer */
#mainFooter {
	min-height: 20px;
	color: white;
	border-bottom : 1px solid #6b00a2;
	padding-right: 10px;
}
#mainFooter a{
	color:#6b00a2;
}

/* Animation */
.view.ng-enter, .hAnim.ng-enter{
	transition : all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.view.ng-enter{
	opacity : 0;
}
.view.ng-enter.ng-enter-active{
	opacity : 1;
}
